@import "~bootstrap/scss/bootstrap";
@import '../style/reset.scss';
@import '../style/Header.scss';
@import '../style/Button.scss';
@import '../style/CityBlock.scss';
@import '../style/FacilitiesBlock.scss';
@import '../style/Footer.scss';
@import '../style/MainLogo.scss';
@import '../style/Relaxing.scss';
@import '../style/Resort.scss';
@import '../style/Woman.scss';
@import '../style/Tours.scss';

*{
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
  font-family: "Roboto", sans-serif !important;
  color: #000000;
  font-style: normal;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__first{
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
  }

  &__middle{
    background-color: #E5F4F7;
    width: 100%;
    padding: 50px 5%;
    box-sizing: border-box;
  }

  &__bottom{
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .App__first{
    padding: 0 5%;
  }
}
