.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 48px;
    background: #0500FF;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin: 10px;
    font-size: 18px;
  }