.header{
    display: flex;
    height: 136px;
  
    &__logo{
      width: 50%;
      font-weight: 700;
      font-size: 25px;
      align-self: center;
      & a{
        color: #000000;
        text-decoration: none;
      }
    }

    &__menu{
      width: 50%;
      font-weight: 600;
      font-size: 17px;
      align-self: center;
  
      & ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        & a{
          list-style-type: none;
          text-decoration: none;
        }
        & div{
          display: flex;
          align-items: center;
          
          & li{
            text-align: center;
            padding: 10px;
          }
        }
      }
    }

    &__login{
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 5px 15px !important;

      &:hover{
        cursor: pointer;
      }
    }
  }